<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
<header> <%- include("./partials/header.ejs") %> </header>

<div class="flex-container">
    <%- include("./partials/song.ejs") %>
    <%- include("./partials/artist.ejs") %>
    <%- include("./partials/album.ejs") %>
    <%- include("./partials/genre.ejs") %>
    <%- include("./partials/decade.ejs") %>
</div>

</body>
</html>